/*
  The original SpacePilot3K Theme for phpBB version 2+
  Created by Jakob Persson
  http://www.jakob-persson.com
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
BODY.index {
	border: 1px #0075B2 solid;
	background-image : url('./images/background2.png');
	background-attachment: fixed;
	background-color: #000000;
	scrollbar-face-color: #006699;
	scrollbar-highlight-color: #2DB6FD;
	scrollbar-shadow-color: #005886;
	scrollbar-3dlight-color: #038DD5;
	scrollbar-arrow-color: #8BC7FF;
	scrollbar-track-color: #005F90;
	scrollbar-darkshadow-color: #00466A;
	color: #FFFFFF;
	font-size : 12px;
}

BODY.page {
	/* border: 1px #FFFFFF solid; */
	background-color: transparent;
	scrollbar-face-color: #006699;
	scrollbar-highlight-color: #2DB6FD;
	scrollbar-shadow-color: #005886;
	scrollbar-3dlight-color: #038DD5;
	scrollbar-arrow-color: #8BC7FF;
	scrollbar-track-color: #005F90;
	scrollbar-darkshadow-color: #00466A;
	color: #FFFFFF;
	font-size : 12px;
}

/* General font families for common tags */
font,th,td,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
a:link,a:active,a:visited { color : #8BC7FF; }
a:hover		{ text-decoration: underline; color : #8BC7FF; }
hr	{
	height: 0px;
	border: solid #CCCCCC 0px;
	border-top-width: 1px;
}


/* This is the border line & background colour round the entire page */
.bodyline	{
	border: 1px #0075B2 solid;
	background-image : url('./images/background.png');
}

/* This is the outline round the main forum tables */
.forumline	{
	border: 2px #0075B2 solid;
	background-image : url('./images/background2.png');
}


/* Main table cell colours and backgrounds */

td.row1	{
	font-size : 12px;
}

td.row2	{
	background-image : url('./images/background3.png');
	font-size : 12px;
}

td.row3	{
	background-image : url('./images/background2.png');
	font-size : 12px;
}



/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
	background-image: url('./images/cellpic1.png');
	background-color: #006699;
	color: #FFFFFF;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	font-size: 11px;
	font-weight : bold;
	background-color: #8BC7FF;
	height: 25px;
	background-image: url('./images/cellpic3.png');
	color : #006699;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
	background-image: url('./images/cellpic1.png');
	background-color: #006699;
	border: #FFFFFF;
	border-style: solid;
	height: 28px;
	color : #FFFFFF;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right {
	border: #FFFFFF;
	border-style: solid;
}

td.spaceRow {
	background-color : #000000;
	background-image : url('./images/background.png');
}

th.thHead,td.catHead { font-size: 12px; border-width: 0px 0px 0px 0px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 0px; }
th.thBottom,td.catBottom  { border-width: 0px 0px 0px 0px; }
th.thTop	 { border-width: 0px 0px 0px 0px; }
th.thCornerL {
	border-width: 0px 0px 0px 0px;

}
th.thCornerR {
	border-width: 0px 0px 0px 0px;

}


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
	font-weight: bold;
	font-size: 22px;
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height : 120%;
	color : #FFFFFF;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall {
	color : #FFFFFF;	
}


/* General text */
.genblue { font-size : 12px; }
.genmedblue { font-size : 11px; }
.gensmallblue { font-size : 10px; }
.genblue,.genmedblue,.gensmallblue {
	color : #006699;
}

a.genblue,a.genmedblue,a.gensmallblue {
	color: #006699;
	text-decoration: none;
}

a.genblue:hover,a.genmedblue:hover,a.gensmallblue:hover	{
	color: #FFFFFF;
	text-decoration: underline;
}

/* General text */
.genblack { font-size : 12px; }
.genmedblack { font-size : 11px; }
.gensmallblack { font-size : 10px; }
.genblack,.genmedblack,.gensmallblack {
	color : #000000;	
}

a.gen,a.genmed,a.gensmall { color: #8BC7FF; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{
	color: #FFFFFF;
	text-decoration: underline;
}


/* The register, login, search etc links at the top of the page */
.mainmenu		{
	font-size : 11px;
	color : #FFFFFF;
}
a.mainmenu		{ text-decoration: none; color : #8BC7FF;  }
a.mainmenu:hover{ text-decoration: underline; color : #FFFFFF; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #FFFFFF }
a.cattitle		{ text-decoration: none; color : #FFFFFF; }
a.cattitle:visited{ color : #FFFFFF; text-decoration: none; }
a.cattitle:hover{ color : #FFFFFF; text-decoration: underline; }


.cattitlewhite		{
	font-weight: bold;
	font-size: 12px ;
	letter-spacing: 1px;
	color : #FFFFFF;
}
a.cattitlewhite		{
	text-decoration: none;
	color : #8BC7FF;
}
a.cattitlewhite:visited {
	color : #8BC7FF;
}
a.cattitlewhite:hover { color : #FFFFFF; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #8BC7FF; }
a.forumlink	 { text-decoration: none; color : #8BC7FF; }
a.forumlink:hover{ text-decoration: underline; color : #FFFFFF; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #FFFFFF;}
a.nav			{ text-decoration: none; color : #8BC7FF; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{
	font-weight: bold;
	font-size: 11px;
	color : #FFFFFF;
}
a.topictitle:link   { text-decoration: none; color : #8BC7FF; }
a.topictitle:visited { text-decoration: none; color : #8BC7FF; }
a.topictitle:hover	{ text-decoration: underline; color : #FFFFFF; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{
	font-size : 11px;
	color : #FFFFFF;
}

/* Location, number of posts, post date etc */
.postdetails		{
	font-size : 10px;
	color : #FFFFFF;
}


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #8BC7FF }
a.postlink:visited { text-decoration: none; color : #8BC7FF; }
a.postlink:hover { text-decoration: underline; color : #FFFFFF}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: Lime;
	border: #DDDDDD;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8BC7FF;
	line-height: 125%;
	border: #DDDDDD;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #DDDDDD;
	letter-spacing: -1px;
}

a.copyright		{
	color: #8BC7FF;
	text-decoration: none;
}

a.copyright:hover {
	color: #FFFFFF;
	text-decoration: underline;
}


/* IFRAME */

iframe {
	border-color : #004368 #036A97 #036A97 #004368;
}

/* Form elements */
input,textarea, select {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

input { 
	text-indent : 2px;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #014669;	
	border-color : #005886 #038DD5 #038DD5 #005886;
	background-image : url('./images/background2.png');
	color : #8BC7FF;
	scrollbar-face-color: #006699;
	scrollbar-highlight-color: #2DB6FD;
	scrollbar-shadow-color: #005886;
	scrollbar-3dlight-color: #038DD5;
	scrollbar-arrow-color: #8BC7FF;
	scrollbar-track-color: #005F90;
	scrollbar-darkshadow-color: #00466A;
	background-attachment : fixed;
}

select {
	border-color : #005886 #038DD5 #038DD5 #005886;	
}

input.field {
	background-color : #006699;
	border-color : #005886 #038DD5 #038DD5 #005886;
	background-image : url('./images/background2.png');
	color : #8BC7FF;
}

/* The buttons used for bbCode styling in message post */
input.button {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #006699;
	color : #8BC7FF;
	border-color : #038DD5 #005886 #005886 #038DD5;
}

/* The main submit button option */
input.mainoption {
	font-weight : bold;
	background-color : #006699;
	color : #8BC7FF;
	border-color : #038DD5 #005886 #005886 #038DD5;
}

/* None-bold submit button */
input.liteoption {
	font-weight : normal;
	background-color : #006699;
	color : #8BC7FF;
	border-color : #038DD5 #005886 #005886 #038DD5;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline {
	border-style: none;
	background-color : #000000;
	color : #FFFFFF;
	background-image : url('./images/background3.png');
}


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url('./formIE.css');
